/* arabic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/RobotoCondensed-Regular.ttf) format("truetype");
}
/* arabic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/RobotoCondensed-Bold.ttf) format("truetype");
}
/* arabic */
@font-face {
    font-family: 'SFUIText';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/SF-UI-Text-Light.ttf) format("truetype");
}
/* arabic */
@font-face {
    font-family: 'SFUIText';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/SF-UI-Text-Regular.ttf) format("truetype");
}
/* arabic */
@font-face {
    font-family: 'SFUIText';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/SF-UI-Text-Medium.ttf) format("truetype");
}
/* arabic */
@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Questrial-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Raleway-Black_1.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Raleway-Bold_1.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Raleway-ExtraBold_2.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Raleway-SemiBold_1.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Raleway-Medium_1.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Raleway-Medium_1.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/AvenirNextCyr-Demi.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/AvenirNextCyr-DemiItalic.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/AvenirNextCyr-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/AvenirNextCyr-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/AvenirNextCyr-Heavy.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/AvenirNextCyr-HeavyItalic.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/AvenirNextCyr-Italic.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/AvenirNextCyr-Light.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/AvenirNextCyr-LightItalic.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/AvenirNextCyr-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/AvenirNextCyr-MediumItalic.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/AvenirNextCyr-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'AvenirNextCyr';
    font-style: italic;
    font-weight: 100;
    src: url(../fonts/AvenirNextCyr-ThinItalic.otf) format("opentype");
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Fontfabric-MullerRegular.otf) format("opentype");
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Fontfabric-MullerBlack.otf) format("opentype");
}

@font-face {
    font-family: 'Muller';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/Fontfabric-MullerBlackItalic.otf) format("opentype");
}

@font-face {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Fontfabric-MullerBold.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/GothaProBla.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/GothaProBlaIta.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/GothaProBol.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/GothaProBolIta.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/GothaProIta.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/GothaProLig.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/GothaProLigIta.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/GothaProMed.otf) format("opentype");
}

@font-face {
    font-family: 'GothamPro';
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/GothaProMedIta.otf) format("opentype");
}

@font-face {
    font-family: 'GothamProNarrow';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/GothaProNarBol.otf) format("opentype");
}

@font-face {
    font-family: 'GothamProNarrow';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/GothaProNarMed.otf) format("opentype");
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/GothaProReg.otf) format("opentype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/OpenSans-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/OpenSans-Italic.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Lato-Light.ttf) format("truetype");
}
@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/SourceSansPro-Black.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/SourceSansPro-BlackIt.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/SourceSansPro-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/SourceSansPro-BoldIt.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/SourceSansPro-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 200;
    src: url(../fonts/SourceSansPro-ExtraLightIt.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/SourceSansPro-It.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/SourceSansPro-Light.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/SourceSansPro-LightIt.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/SourceSansPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/SourceSansPro-SemiBold.otf) format("opentype");
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/SourceSansPro-SemiBoldIt.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Montserrat-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Montserrat-ExtraBold.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Montserrat-SemiBold.otf) format("opentype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Montserrat-Light.otf) format("opentype");
}

@font-face {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/JosefinSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/JosefinSans-SemiBold.ttf) format("truetype");
}


@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Muli-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Muli-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Poppins-SemiBold.otf) format("opentype");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Poppins-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Poppins-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Questriall';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Questrial-regular.ttf) format("truetype");
}

@font-face {
    font-family: 'SFUIDisplay';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/SFUIDisplay-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'SFUIDisplay';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/SF-UI-Display-Medium.ttf) format("truetype");
}

@font-face {
    font-family: 'SFUIDisplay';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/SFUIDisplay-Thin.otf) format("opentype");
}

@font-face {
    font-family: 'SFUIDisplay';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/SF-UI-Display-Thin.ttf) format("truetype");
}

@font-face {
    font-family: 'SFUIDisplay';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/SFUIDisplay-Regular.otf) format("opentype");
}