@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ezto7e');
  src:  url('../fonts/icomoon.eot?ezto7e#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ezto7e') format('truetype'),
    url('../fonts/icomoon.woff?ezto7e') format('woff'),
    url('../fonts/icomoon.svg?ezto7e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-down:before {
  content: "\e900";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-warning:before {
  content: "\ea07";
}
